
*.html
*.dcf
Mindprint/Mindprint_Analysis1.Rmd
Mindprint/Mindprint_Analysis1.Rmd
Mindprint/Mindprint_Math.pdf
Mindprint/Mindprint_Analysis1.Rmd
Mindprint/Mindprint_Math.pdf
Mindprint/Mindprint_Math.Rmd
